ion-toolbar {
  --background: transparent;
  --border-color: transparent;
}

.tutorial {
  &__title {
    margin: 15px auto;
  }
  &__names {
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 10px;
    }
  }
  &__slide-label {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.slide-image {
  max-height: 200px;
  width: auto !important;
  height: auto !important;
  margin: 36px 0;
  pointer-events: none;
}

.names {
  display: flex;
  flex-direction: column;
  label {
    margin-bottom: 10px;
  }
}

.titles {
  font-size: 25px;
  font-weight: bold;
}

.text-20 {
  font-size: 20px;
}

.text-40 {
  font-size: 40px;
}

* {
  font-family: "Oswald", sans-serif;
}
